//selector universal

*{
  font-family: "Roboro" sans-serif;
  padding: 0;
  margin: 0;
}


//selectores de etiqueta

html{
  font-size: 62.5%;
}

body{
    background-image: url(../img/foondo.png);
    background-attachment: fixed;
    overflow-x: hidden;
    box-sizing: border-box;
      }

h1{
  font-family: $secondFont;
  color: $black;
}
h2{
   font-family: $tercerFont;
   color: $black;
}

h3{
  font-family: $mainFont;
}

p{
  font-family: $cuartoFont;
    font-size: $fontPar;
    line-height: $fontSave;
    color: $black;
    font-weight: 400;
}

header{
  width: auto;
  width: 98vw;
  margin: auto;
}