// fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Tangerine:wght@700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Pacifico&display=swap');

// vars 
$mainFont: "Roboto", sans-serif;
$secondFont:'Bebas Neue', cursive;
$tercerFont:'Titillium Web', sans-serif;
$cuartoFont: 'Amatic SC', cursive;


// sizing 
$fontMd:3rem;
$fontFig:2.5rem;
$fontSize:1.8rem;
$fontSm:1em;
$fontSave:2rem;
$fontGrid:1.3rem;
$fontHei:1.6em;
$fontPar:1.8rem
