// vars para los colores
$mainColor: rgba(90, 90, 180, 0.3);
$secondaryColor:rgba(93, 66, 099, 1.0);
$keyColor:#C8B6CE;
$grey:#636364;
$black:#161515;
$white:white;
$violeta:#6B49C2;
$violet2:darkviolet;
$seconNav:#671265;
$asideColor:#DED5EA;